<h1>Branch: <%= @dojo['branch'] %> </h1>
<h2>Address: <%= @dojo['street'] %></h1> 
<h2>City: <%= @dojo['city'] %> State:<%= @dojo['state'] %></h1>
<a href="/dojos"> Home </a>|
<a href="/dojos/<%= @dojo['id'] %>/edit">Edit</a> 